* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: white;
}
header {
    display: flex;
    height: 100px;
    gap: 1em;
    align-items: center;
    background-color: #474E53;
}
a {
    color: white;
}
.logo {
    width: 100px;
    height: 100px;
    
}
.page-title {
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: #EDEDED;
    max-width: 600px;
    justify-self: center;
    padding: 20px;
    border: 10px solid #381D2A;
    border-radius: 100px;
}
.answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 25px;
    font-size: 2em;
}