* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: white;
}
header {
    display: flex;
    height: 100px;
    gap: 1em;
    align-items: center;
    background-color: #474E53;
}
a {
    color: white;
}
.logo {
    width: 100px;
    height: 100px;
    
}
.puzzle-stage {
    background-color: #EDEDED;
    max-width: 600px;
    justify-self: center;
    padding: 20px;
    border: 10px solid #381D2A;
    border-radius: 100px;
}
.stage-and-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.stage-desc {
    font-size: 1.5em;
}

.answer-section {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.input-1 {
    height: 35px;
    font-size: 20px;
    width: 200px;
}
.side-bars {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}


.left-bars, .right-bars {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 200px;
}

/* Position left stack */
.left-bars {
    left: 0;
}

/* Position right stack */
.right-bars {
    right: 0;
}
.bar {
    width: 200px;
    height: 40px;
    background-color: black;
    color: black;               
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;       
    user-select: text; 
    pointer-events: auto;
}
.stage3-circles {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.circle {
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    user-select: text;
}
.warning-button {
    display: flex;
    justify-items: center;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 1.2em;

}
.puzzle {
    display: flex;
    justify-content: center;
}
.final-stage-letters {
    display: flex;
    gap: 200px;
    font-size: 3em;
    margin-top: 50px;
}
