@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
  --primary-color: #52489c;
  --secondary-color: #59c3c3;
  --accent-color: #f45b69;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: "Mooli", sans-serif;
}

* {
  margin: 0 auto;
}

h1 {
  font-size: 3em;
}

h1, h2 {
  font-family: var(--secondary-font);
  margin: 5px;
}

header, footer {
  background-color: var(--primary-color);
  color: white;
  width: 100%;
}

body {
  background-color: var(--text-light);
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 100%;
  height: 250px;
  width: 250px;
  object-fit: cover;
  margin: 10px;
  border: 5px solid white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.menu_buttons {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1.2em;
  margin: 5px;
}

.hide {
  display: none;
}

a {
  color: white;
  text-decoration: none;
}

header {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

main {
  margin-top: 10px;
}

button {
  appearance: none;
  border: none;
  background: none;
  color: white;
  font-size: 1.7em;
  cursor: pointer;
}

@media screen and (min-width: 700px) and (max-width: 999px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  a {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  button {
    display: none;
  }
  .menu_buttons {
    grid-template-columns: repeat(5, 1fr);
  }
  .menu_buttons.hide {
    display: grid; 
  }
}


dialog {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  padding: 0;
  z-index: 10;
}

dialog img {
  display: block;
  margin: 0 auto;
  margin: 20vh auto;
  width: 90%;
  max-height: 100%;
  /* position: fixed; */
  /* align-items: center; */
  max-width: 900px;
}

.close-viewer {
  position: absolute;
  top: 20vh;
  /* right: 5%; */
  font-size: 2em;
  color: black;
  background: white;
  border: 2px solid #333;
  /* border-radius: 50%; */
  width: 40px;
  height: 40px;
  display: flex;
  
  /* align-items: center; */
  /* justify-content: center; */
  cursor: pointer;
  /* z-index: 20; */
}